
<div class="hero min-h-screen" style="">
    
  <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content ">
      <div class="max-w-xl">
        <div class="bg-green-700 rounded-lg w-96 h-96 p-10">
          <div class="mb-5 text-5xl font-bold font-serif text-slate-300">The Travelling Grocer</div>
          <p class="mb-5">Running late? Can't find the right aisles? 
            Optimize your shopping by finding the best route through the store.</p>
          <!-- <button style="margin-right:10px;"class="btn btn-primary" (click) ="goToSignIn()">Sign In</button> -->
          <button class="btn default btn-wide text-slate-300" (click) ="goToMap()">Start Shopping!</button>
          <button class="btn btn-sm btn-neutral mt-2" style="margin-right:10px;" (click) ="gotonext()">Enterprise</button>
          <!-- <app-login-button></app-login-button> -->
        </div>  
        
      
      </div>
    </div>
  </div>



 