
<div class="hero min-h-screen" style="">
    
  <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content ">
      <div class="max-w-xl">

        <div class="bg-green-500 rounded-lg landingBox">
          <img src="" alt="">
          <h1 class="pt-11 mb-5 text-8xl font-bold">The Traveling Grocer</h1>
          <p class=" mt-5 mb-5">NP Problem? No Problem.</p>
          <app-outline-button [buttonText] = "signin" (click) ="goToSignIn()"></app-outline-button>
          <app-outline-button [buttonText] = "signout" (click) ="gotonext()"></app-outline-button>
          
          <p>no account? Make one here</p>
        </div>  
      
      </div>
    </div>
  </div>



 