<div class="flex flex-col">
    <div class="text-2xl font-bold ml-4 mt-2">All Items In Database</div>
    <table class="table">
      <tr *ngFor="let item of items">
        <div class="flex">
          <div class="flex flex-col p-2">
            <span class="text-xl text-white font-normal ml-2">{{item.name}}</span>
            <span class="ml-2">${{item.price}}, ID: {{item.polygonName}}</span>
          </div>
          <button class="btn btn-circle" onclick="() => deleteItem(item.polygonName)">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
          </button>
        </div>
      </tr>
    </table>
  </div>
  