<div class="flex flex-col justify-center items-center">
  <app-search-items (close)="closeShoppingWindow()"></app-search-items>

  <h2 class="text-2xl font-bold">Shopping List</h2>
  <table class="table">
    <tr *ngFor="let item of items">
      <td>
        <mat-icon aria-hidden="false" aria-label="Example food icon" fontIcon="local_dining"></mat-icon>
      </td>
      <td>
        <div class="flex flex-col p-2">
          <span class="text-md text-black font-normal">{{item.name}}</span>
          <span>{{item.description}}</span>
        </div>
      </td>
      <td class="flex flex-col items-center">
        <span class="p-2 text-md text-black font-normal">${{item.price}}</span>
        <button class="btn btn-sm btn-outline" (click)="remove(item)">Remove</button>
      </td>
    </tr>
  </table>

  <button class="btn btn-outline m-8" (click)="updateShoppingList()">Update Shopping List</button>
</div>
